.container-fluid {
    background: #ffffff;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom-color: #cccccc;
    border-bottom-width: medium;
    border-bottom-style: solid;
    margin-top: -25px;
    margin-right: -10px;
    margin-left: -10px;
}
    

.name {
    color: #ffffff;
    padding: 20px;
    background-color: #4aaaa5;
    margin-left: 225px;
    margin-right: 1050px;
    text-align: center;
}



body {
    background-image: url(../images/hotel-wallpaper.png);
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777; 
}

main {
    width: 960px;
}


.link {
    list-style-type: none;
    display: inline;
    color: #777777;
    text-decoration: none;
    float: right;
}

img {
    width: 150px;
    padding: 20px;
}



a {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
}
a:link {
    text-decoration: none;
}

section {
    padding: 10px;
    margin: 40px 22%;
    background-color: #ffffff;
    border-style: solid;
    border-width: thin;
    border-color: #cccccc;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

hr {
    height: medium;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    background-color: #cccccc;
}

input,
textarea {
        font: 1em sans-serif;
        width: 300px;
        box-sizing: border-box;
        border: 1px solid #999;
}

textarea {
        vertical-align: top;
        height: 5em;
}

button {
    color: #ffffff;
    background-color: #4aaaa5;
}

footer {
    
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    color: #b8b5b5;
    font-size: 10px;
    padding-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    
}