header {
    background: #ffffff;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-bottom-color: #cccccc;
    border-bottom-width: medium;
    border-bottom-style: solid;
    margin-top: -25px;
    margin-right: -10px;
}
    

.name {
    color: #ffffff;
    padding: 20px;
    background-color: #4aaaa5;
    margin-left: 225px;
}



body {
    background-image: url(../images/positive.png);
    background-color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777; 
}


.link {
    list-style-type: none;
    display: inline;
    color: #777777;
    text-decoration: none;
}
a {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 10px;
}
a:link {
    text-decoration: none;
}

section {
    padding: 10px;
    margin: 40px 22%;
    background-color: #ffffff;
    border-style: solid;
    border-width: thin;
    border-color: #cccccc;
}

h2 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
}

hr {
    height: medium;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color: #cccccc;
}



footer {
    
    position: sticky;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    text-align: center;
    color: #b8b5b5;
    font-size: 10px;
    padding-top: 10px;
    
}